body {
  background-color: lightgray;
  font-family: Verdana, Arial,  sans-serif;

}

.row {
  display: flex;
}

* {
  padding: 5px;
}

.column {
  width: fit-content;
}

.options {
  height: fit-content;
  overflow:auto;
  background-color: lightblue;
}



h2 {
  padding: 2px;
  font-size: 14px;
  margin: auto;
}
