body {
  background-color: lightgray;
  font-family: Verdana, Arial,  sans-serif;

}

.row {
  display: flex;
}

* {
  padding: 5px;
}

.column {
  width: fit-content;
  margin: 0 auto;
}

.options {
  height: fit-content;
  overflow:auto;
  background-color: lightblue;
  width: fit-content;
}



h2 {
  padding: 2px;
  font-size: 14px;
  margin: auto;
}

#options1 {
}



.numinput {
  width: 40px;
}

h3 {
  padding: 0px;
  font-size: 10px;
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 0px;
  margin: 0px;
}

.options {
  position:absolute;
}

#options2 {
  right: 10px;
}
