body {
  background-color: lightgray;
  font-family: Verdana, Arial,  sans-serif;
}

* {
  box-sizing: border-box;
    padding: 5px;
}
.row {
  height: 100%;
  min-width: 500px;
}

.column {
  float: left;
}

.options {
  background-color: lightblue;
}

.left, .right {
  width: 10%;
  min-width: 200px;
  height: 100%;
  background-color: orange;
  margin: 0;
}

.middle {
  width: 70%;
  min-width: 500px;
  margin: 0 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#simulation {
  height: 800px;
}
#sim {
  height: 800px;
}


h2 {
  padding: 2px;
  font-size: 14px;
  margin: auto;
}


h3 {
  padding: 0px;
  font-size: 10px;
  margin: 0px;
}

.numinput {
  width: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 0px;
  margin: 0px;
}

button {
  margin: 2px;
}

#cbox {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

/* .options {
  position:absolute;
} */

/* #options2 {
  right: 10px;
} */

/* .row {
  display: flex;
} */
